{{ if and ( .Site.Params.twikoo.enable ) (and (not .Params.disable_comments)
    (or (eq .Kind "404") (and (not .IsHome) .Content))) }}
    <section class="comments">
      <div id="twikoo"></div>
      <script src="https://cdn.staticfile.org/twikoo/1.6.8/twikoo.all.min.js"></script>
      <script>
        twikoo.init({
          envId: '{{ .Site.Params.twikoo.envId }}',
          el: '#twikoo',
          region: '{{ .Site.Params.twikoo.region | default "ap-shanghai" }}',
          path: window.location.pathname,
          lang: '{{ .Site.Params.twikoo.lang | default "zh-CN" }}'
        });
        
        {{ if .Site.Params.twikoo.visitor }}
        // 访客统计功能
        twikoo.getVisitCount({
          envId: '{{ .Site.Params.twikoo.envId }}',
          region: '{{ .Site.Params.twikoo.region | default "ap-shanghai" }}',
          path: window.location.pathname
        }).then(function (res) {
          console.log('访客统计:', res);
        });
        {{ end }}
      </script>
    </section>
{{ end }}
